nav.main-nav
{
    position: fixed;
    display: grid;
    place-content: center;
    text-align: center;
    position: absolute;
    right: -200px;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    min-width: 200px;
    transition: right .4s ease-in, opacity .4s ease-in;

    &.active
    {
        right: 0;
        opacity: 1;
        pointer-events: all;
        transition: right .4s ease-in, opacity .4s ease-in;
    }

    & ul li
    {
        display: flex;
        gap: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    & ul li a
    {
        position: relative;
        color: var(--primary-text-color);

        &::before
        {
            content: '';
            position: absolute;
            bottom: -2px;
            height: 2px;
            width: 0%;
            background-color: var(--hover-underline-background-color);
            transition: width 0.3s ease; /* Adjust timing and easing as desired */
        } 

        &:hover::before
        {
            width: 100%;
        }
    }
    

    & .logo
    {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        height: 30px;
        width: 30px;
    }
}

.mobile-menu-toggle-btn
{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--mobile-menu-toggle-btn-color);
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
}

/* Section: Hero */
section.hero
{
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center/center;
    background-size: cover;

    & .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        padding: 0 120px;
        align-items: center;
        color: var(--primary-text-color);
        
        & > div
        {
            flex-basis: 50%;
        }
        
        & > div:first-child
        {
            text-align: center;
        }

        & > div:first-child h3
        {
            font-size: 2.4rem;
            white-space: nowrap;
        }
        
        & > div:first-child h1
        {
            margin: 30px 0;
            font-size: 5rem;
        }

        & > div:first-child p
        {
            line-height: 1.6;
        }
    }

    .explore-btn
    {
        display: grid;
        place-content: center;
        background-color: #fff;
        height: 250px;
        width: 250px;
        font-size: 2rem;
        color: #333;
        border-radius: calc(var(--base-border-radius) * 100);
        transition: box-shadow .3s ease;

        &:hover
        {
            box-shadow: 0 0 0 60px var(--explore-button-hover-box-shadow);
            transition: box-shadow .3s ease;
        }
    }
}